* {
  margin: 0;
}

.todo-wrap {
  min-height: 100vh;
  padding-top: 100px;
  background-color: #23272e;
}

.todo-wrap h1,
.todo-wrap h2 {
  color: #fff;
}

form {
  gap: 15px;
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto 30px;
}

form input {
  width: 100%;
  padding: 15px;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #7c7c7c;
}

form input:focus {
  border-color: red;
}

form button {
  display: block;
  cursor: pointer;
  font-size: 18px;
  min-width: 150px;
  padding: 15px 25px;
  border-radius: 10px;
}

.list-todo {
  max-width: 600px;
  margin: 0 auto;
}

.list-todo .result {
  gap: 15px;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #7c7c7c;
  background-color: #394251;
  justify-content: space-between;
}

.list-todo .result .result-text {
  color: #fff;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 0px;
  font-size: 24px;
  font-weight: 700;
  background: none;
  border-bottom: 1px solid transparent;
}

.list-todo .result .result-text:focus {
  border-bottom-color: #fff;
}

.list-todo .result button {
  width: 55px;
  border-radius: 10px;
}
