* {
  margin: 0;
}

.todo-wrap {
  padding: 100px 0;
}

form {
  gap: 15px;
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto 30px;
}

form input {
  width: 100%;
  padding: 15px;
  outline: none;
  font-size: 18px;
  border: 1px solid #7c7c7c;
}

form input:focus {
  border-color: red;
}

form button {
  cursor: pointer;
  display: block;
  min-width: 150px;
  padding: 15px 25px;
}

.list-todo {
  max-width: 600px;
  margin: 0 auto;
}

.list-todo .result {
  display: flex;
  gap: 15px;
  /* align-items: center; */
  justify-content: space-between;
  border: 1px solid #7c7c7c;
  padding: 15px;
  margin-bottom: 15px;
}

.list-todo .result .result-text {
  font-size: 24px;
  border: none;
  outline: none;
  font-weight: 700;
  width: 100%;
}